*{
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }

}

.App {
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    background-color: #eaf6f6;
    justify-content: center;
    align-items: center;

}

.button{
    background-color: $color-black;
    color: #ffffff;
    padding: 0 21px;
    outline: none;
    border: none;
    margin: 0 5px;
    height: 28px;
    border-radius: 5px;
    transition: 0.7s;
    border: 1px solid $color-black;
    &:hover{
        color: $color-black;
        background-color: #ffffff;
    }
}
img{
    object-fit: contain !important;
    object-fit: scale-down !important;
    
}

