@import '../utils/mixins';

.Card {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 30px;
   
    width: 300px;
    @media only screen and (max-width:640px) {
        
            justify-content: center;
            margin-left: 0;
    }
}


