@import '../utils/mixins';
@import '../utils/variables';

.nav{
    
    background-color:$color-head ;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    position: fixed;
    list-style-type: none;
    top:0;
    left: 0;
    width: 100%;
    
     li{
         padding: 7px 12px;
        font-size: 20px;
        color: $color-list;

        a{
            text-decoration: none;
        }
    }
    
}
